@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.navbar .nav-link:hover {
    color: rgb(183, 183, 183);
}

.nav-item {
    padding-right: .8rem;
}

.carousel-item,
.carousel-item img {
    height: 580px;
    width: 100%;
}

.welcometitle {
    font-family: "autour one";
}

.readmorelink {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
    transition: .2s ease-in;
}

.readmorelink:hover {
    color: black;
    font-size: 1.25rem;
    font-weight: 400
}

.placessection ul li {
    list-style-type: none;
    margin-bottom: .8rem;
}

.placessection ul li a {
    text-decoration: none;
}

.placescontent img {
    height: 450px;
    width: 100%;
}

.placescontent h1,
p {
    padding-left: 1.2rem;
}

.placescontent img {
    margin-left: .8rem;
}



#explorecard button {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

#explorecard button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#explorecard button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 10px;
    right: -20px;
    transition: 0.5s;
}

#explorecard button:hover {
    padding-right: 24px;
    padding-left: 8px;
    background-color: rgb(234, 196, 5);
}

#explorecard button:hover:after {
    opacity: 1;
    right: 10px;
}


.footersection ul li {
    list-style-type: none;
}

.footersection ul li a {
    text-decoration: none;
    color: white;
}






@media only screen and (min-width: 768px) and (max-width: 991px) {

    .carousel-item,
    .carousel-item img {
        height: 400px;
    }

}

@media only screen and (max-width: 768px) {

    .carousel-item,
    .carousel-item img {
        height: 310px;
    }

    .imagecollection img {
        margin-bottom: 2rem;
    }

    .videosection iframe {
        margin-top: 1.5rem;
    }

    /* .videosection .readmorelink {} */
    /* .placessection .placescontent .container-fluid {
        text-align: center;
    } */

    .placescontent img {
        height: 180px;
        width: 100%;
    }

    .placescontent .container-fluid {
        text-align: center;
    }

}

@media only screen and (max-width: 991px) {
    .welcome .card {
        margin-bottom: 1.5rem;
    }

}